[Unit]
Description=ROG Core Daemon

[Service]
Environment="RUST_LOG=info"
ExecStart=/usr/bin/rog-core -d
Restart=on-failure

[Install]
WantedBy=multi-user.target